@import "~materialize-css/sass/materialize.scss";

::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: #ff5722;
}

.default_color {
  background-color: #ff5722 !important;
}

nav {
  color: #fff;
  background-color: #ff5722 !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  .brand-logo {
    position: absolute;
    display: inline-block;
    font-size: 2.1rem;
    font-style: normal;
    font-weight: 100;
    padding: 0;
    letter-spacing: 7px;
  }
  a {
    font-size: 1.2rem;
    letter-spacing: 2px;
    display: block;
    font-weight: 300;
    padding: 0px 15px;
  }
}

header {
  background-color: #ff5722;
  .card-avatar {
    .card-content {
      text-align: center;
    }
    img {
      height: 35vmin;
      width: 35vmin;
      border-radius: 50%;
    }
  }
  .card-action {
    text-align: center;
  }
}

.card .card-image iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card a,
.card-action a {
  color: #ff5722 !important;
}

.widget {
  .card-image {
    height: 176px;
    min-width: 176px;
    img {
      height: inherit;
      width: inherit;
    }
  }
  .card-content {
    max-height: 174px;
    width: 100%;
    overflow: auto;
    flex-grow: 1;
  }
}

[onclick] {
  cursor: pointer;
}
